
<div class="container mt-4">
  <% if @costume.valid? %>
    <h2>Update your costume</h2>
    <% else  %>
    <h2>Upload your costume</h2>
  <% end %>
  <%= simple_form_for(@costume) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
    <%= f.input :size, collection: ["Extra Small", "Small","Medium","Large", "Extra Large"] %>
    <%= f.input :category, collection: @costume_categories, prompt: 'Select Category' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
