<div class = "body">
  <div class ="banner">
      <H1>Turn heads, crack up crowds</H1>
  </div>
  <div class = "container">
    <div class="grid-container">

      <% @costumes.each do |costume| %>

          <div class= "card">

            <img src="https://www.miliashop.com/img/co/781.jpg" alt="background" style="width:90%">

            <div class="card-info">
              <h5><%= link_to costume.title, costume_path(costume), class: "tex-decoration-none mt-3" %></h5>
              <p><%= costume.description %></p>

              <div class="card-details">
                <div class="user-avatar">
                  <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
                  <p><%= costume.user.first_name %></p>
                </div>
                <p><%= costume.price_per_day %></p>
              </div>

            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>
