<div class = "body">
  <div class ="banner d-flex flex-column">
      <H1>Turn heads, crack up crowds</H1>
      <div class="search container">
        <div class="row justify-content-center">
          <div class="col-sm-8 my-3">
            <%= form_with url: root_path, method: :get, class: "d-flex bg-light rounded" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "What do you want to turn into?"
                %>
              <%= label_tag :dates, "", class: "form-label" %>
              <%= text_field_tag :dates, nil, value: params[:dates], class: "form-control", data: { controller: "datepicker", input: true }, placeholder: "When?"%>

              <%= button_tag "", name: "", class: "btn btn-light" do %><i class="fa-solid fa-magnifying-glass"></i><% end %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <div class = "container">
    <div class="grid-container">
      <% @costumes.each do |costume| %>
          <div class= "card">
            <div class ="card-image">

              <% if costume.photos.attached? %>
                <% photo = costume.photos.sample %>
                <%= cl_image_tag photo.key, alt: "Costume picture", class: "card-photo", style: "width:90%; object-fit:cover" %>
              <% else %>
                <%= image_tag "girl.jpg", alt: "girl picture", class: "card-photo", style: "width:90%" %>
              <% end %>
            </div>

            <div class="card-info mb-3">
            
              <h6 class="card-title"><%= link_to costume.title, costume_path(costume) %></h6>
              <p><%= costume.description %></p>

              <div class="card-details">

                <div class="card-user-avatar">
                  <%= cl_image_tag costume.user.photo.key, height: 25, width: 25, crop: :fill %>
                  <h6 class="ml-2"><%= costume.user.first_name %></h6>
                </div>
                <p><strong><%= costume.price_per_day %> €</strong></p>

              </div>

            </div>

          </div>
      <% end %>

    </div>
  </div>
</div>
