<div class = "body">
  <div class ="banner">
      <H1>Turn heads, crack up crowds</H1>
  </div>
  <div class = "container">
    <div class="grid-container">

      <% @costumes.each do |costume| %>

          <div class= "card">
            <% if costume.photos.attached? %>
              <% photo = costume.photos.sample %>
              <%= cl_image_tag photo.key, alt: "Costume picture", class: "card-photo", style: "width:90%; height: 50%" %>
            <% else %>
              <%= image_tag "girl.jpg", alt: "girl picture", class: "card-photo", style: "width:90%; height: 50%" %>
            <% end %>
            <div class="card-info">
              <h6 class="card-title"><%= link_to costume.title, costume_path(costume) %></h6>
              <p><%= costume.description %></p>

              <div class="card-details">
                <div class="user-avatar">
                  <%= cl_image_tag costume.user.photo.key, height: 25, width: 25, crop: :fill %>
                  <p><%= costume.user.first_name %></p>
                </div>
                <p><%= costume.price_per_day %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
