<div class="card-category-smaller" style="background-image: url('<%= asset_path("my_costumes.jpg") %>'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 300px;">
  Here are your costumes, <%= current_user.first_name %>! ðŸ‘»
</div>

<div class="container">
  <div class="d-flex justify-content-end mt-3">
      <%= link_to 'Add a new costume', new_costume_path, class: "btn btn-dark mt-3" %>
  </div>
</div>

 <div class = "container">
    <div class="grid-container">

      <% @costumes.each do |costume| %>
          <div class= "card">
            <% if costume.photos.attached? %>
                        <% photo = costume.photos.sample %>
                        <%= cl_image_tag photo.key, alt: "Costume picture", class: "card-photo", style: "width:90%; height: 50%" %>
                      <% else %>
                        <%= image_tag "girl.jpg", alt: "girl picture", class: "card-photo", style: "width:90%; height: 50%" %>
                      <% end %>
            <div class="card-info">
              <h6 class="card-title"><%= link_to costume.title, costume_path(costume) %></h6>
              <p> <%= costume.description %></p>
              <p><%= costume.price_per_day %>â‚¬</p>
            </div>
             <%= link_to 'ðŸ—‘ï¸', costume_path(costume.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure???" }, class: "btn" %>
            <%= link_to 'Edit this costume', edit_costume_path(costume), class: "btn btn-secondary" %>
            </div>
        <% end %>
    </div>
  </div>
