<div class="card-category-smaller" style="background-image: url('<%= asset_path("my_costumes.jpg") %>'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 300px;">
  Here are your costumes, <%= current_user.first_name %>! 👻
</div>

<div class="container">
  <div class="d-flex justify-content-between">
      <h4 class="mt-4"><strong>My beautiful costumes (<%= @costumes.count %>)</strong></h4>
      <%= link_to 'Add a new costume', new_costume_path, class: "btn btn-dark mt-4 rounded" %>
  </div>
  <hr>
</div>

<div class="container">
  <div class="grid-container">
    <% @costumes.each do |costume| %>
      <div class="card">
        <div class="card-image">
          <% if costume.photos.attached? %>
            <% photo = costume.photos.sample %>
            <%= cl_image_tag photo.key, alt: "Costume picture", class: "card-photo", style: "width:90%; object-fit:cover" %>
          <% else %>
            <%= image_tag "girl.jpg", alt: "girl picture", class: "card-photo", style: "width:90%" %>
          <% end %>
        </div>
        <div class="card-info">
          <h6 class="card-title"><strong><%= link_to costume.title, costume_path(costume) %></strong></h6>
          <p><strong>Description: </strong><%= costume.description %></p>
          <p><strong>Price: </strong><%= costume.price_per_day %>€</p>
        </div>
        <div class="d-flex justify-content-end p-1 w-100">
          <%= link_to edit_costume_path(costume), class: "ml-4 p-2 text-dark" do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
          <%= link_to costume_path(costume.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure???" }, class: "p-2 text-dark" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
