<div class="show-container">

    <div class = "show-card">

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <%= cl_image_tag @costume.photos[0].key, height: 450, width: 500, class: "d-block w-10 img-show-carroussel" %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @costume.photos[1].key, height: 450, width: 500, class: "d-block w-10 img-show-carroussel" %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @costume.photos[2].key, height: 450, width: 500, class: "d-block w-10 img-show-carroussel" %>
          </div>

        </div>

        <button class="carousel-control-prev" type="button"  data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>

        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>

      <div class ="show-card-info">

        <div class = "show-card-text mt-2 pr-4">
          <h4 class= "pb-3 pt-1"><%= @costume.title %></h4>
          <h6 class= "pb-3"><%= @costume.details %></h6>
          <h6><b>Size: </b><%= @costume.size %></h6>
          <h6><b>Category: </b><%= @costume.category %></h6>
        </div>

        <div class="show-card-details">

          <div class="show-card-user-avatar">
              <%= cl_image_tag @costume.user.photo.key, height: 25, width: 25, crop: :fill %>
              <p><%= @costume.user.first_name.split(" ")[0]%></p>
          </div>

          <p class="pr-6"><strong><%=@costume.price_per_day %> €</strong></p>

        </div>

      </div>

    </div>

  <div>

 <div id="booking-form" class="p-3" data-bookings-dates="<%= @bookings_dates.to_json %>" data-price-per-day="<%= @costume.price_per_day %>">
        <h3>Book this costume</h3>
      <%= simple_form_for [@costume, @booking] do |f| %>
          <%= f.input :start_date, as: :string, input_html: { id: "start_date", data: { controller: "booking-datepicker" },class: "d-none" }, label: false %>
          <%= f.button :submit, "Book this costume", class: "btn btn-primary" %>
      <% end %>
        <h6 class="mt-3"> <b>Total price: <span id="total-price">€</b></span></h6>
    </div>
  </div>
</div>
