<div class="show-container">

    <div class = "show-card">

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <%= cl_image_tag @costume.photos[0].key, height: 450, width: 800, crop: :fill, class: "d-block w-10" %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @costume.photos[1].key, height: 450, width: 800, crop: :fill, class: "d-block w-10" %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @costume.photos[2].key, height: 450, width: 800, crop: :fill, class: "d-block w-10" %>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>

        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>

      <div class ="show-card-info">

        <h3><%= @costume.title %></h3>
        <h6><%= @costume.description %></h6>
        <h5>Costume Size: <%= @costume.size %></h6>
        <h5>Costume Category: <%= @costume.category %></h6>

        <div class="show-card-details">

          <div class="show-card-user-avatar">
              <%= cl_image_tag @costume.user.photo.key, height: 25, width: 25, crop: :fill %>
              <p><%= @costume.user.first_name %> <%= @costume.user.last_name %></p>
          </div>

          <p><strong><%=@costume.price_per_day %> €</strong></p>

        </div>

      </div>

    </div>

    <div class="booking-container">

      <div id="booking-form" class="p-3" data-bookings-dates="<%= @bookings_dates.to_json %>">
        <h1><b> Book your costume </b></h1>
        <%= simple_form_for [@costume, @booking] do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
          <%= f.button :submit, "Book this costume !", class: "btn btn-primary" %>
        <% end %>

      </div>

    </div>

</div>
